#posts-index img {
  width: 300px;
}

html {
  scroll-behavior: smooth;
}

#root{
  height: 100vh;

  max-width: 100%;
  background-size: cover;
  overflow: scroll;
  background-image: url("./assets/brown-background-natural-sand-texture_53876-145228.avif");
}

.navbar-dark{
  background-color: 	#37506d

}

.navbar{
  height: 100px;
}

.page-footer{
  height: 100px;
  background-color: 	#37506d;
  position: absolute;
  bottom: 0;
  width:100%;
  
}